# String

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ V specific
/cis112-String.pdf
/cis112-String-20*.pdf
/cis112-String-old*.tex
/cis112-String-old*.pdf

# 
Figure/_*.*
_*.*

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ A specific

